@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: 'League Spartan', sans-serif;
  --color-background: #1a202c;
  --color-text-light: #f5f5f5;
  --color-text-dark: #a0aec0; /* This is a dark grey color */
  --color-text-title: #edf2f7; /* This is a light grey color, almost white */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-dark);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

html {
  scrollbar-width: auto; /* "auto" or "thin"  */
  scrollbar-color: var(--color-text-dark) var(--color-background); /* scroll thumb and track */
}

/* For Webkit browsers like Chrome and Safari */
html::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

html::-webkit-scrollbar-track {
  background: var(--color-background); /* color of the tracking area */
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-text-dark); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--color-background); /* creates padding around scroll thumb */
}